body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
	color: #000814;
}
* {
	box-sizing: border-box;
}
main {
	margin: 0 auto;
	width: 400px;
}
.bugatti {
	width: 100%;
}
.h1-title {
	font-size: 35px;
}
.title {
	font-size: 20px;
	font-weight: bold;
	border: 4px solid #001219;
	padding: 10px;
}
.p1 {
	background-color: #fbf8cc;
}
.p2 {
	background-color: #fde4cf;
}
.p3 {
	background-color: #ffcfd2;
}
.p4 {
	background-color: #f1c0e8;
}
.sub {
	font-size: 20px;
	line-height: 1.5;
}
.job {
	font-size: 16px;
	line-height: 1.3;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 300px;
	height: 450px;
	background-color: #212529;
	color: whitesmoke;
	border-radius: 3px;
	padding: 20px;

	box-shadow: -3px 4px 21px 0px rgba(33, 37, 41, 0.86);
	-webkit-box-shadow: -3px 4px 21px 0px rgba(33, 37, 41, 0.86);
	-moz-box-shadow: -3px 4px 21px 0px rgba(33, 37, 41, 0.86);
}
.btnClose-container {
	text-align: end;
}
.close-btn {
	background-color: transparent;
	border: none;
	color: whitesmoke;
	font-size: 22px;
	font-weight: bold;
}

.close-btn:active,
.close-btn:hover {
	color: red;
}
.close-btn:disabled {
	color: whitesmoke;
	opacity: 0.6;
	cursor: not-allowed;
}
.modal-text {
	line-height: 1.4;
	font-weight: 500;
}
input {
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	background-color: whitesmoke;
	color: #000814;
}
.btn {
	padding: 6px 15px 6px 15px;
}
.button {
	margin-top: 20px;
}
#uploadText {
	text-align: center;
}
.svg {
	width: 100%;
}
.pirate {
	width: 100%;
	margin-top: 20px;
}
.fullName {
	color: fuchsia;
}
.reverse {
	flex-direction: row-reverse;
}
#button-container {
	display: flex;
	justify-content: center;
	gap: 5px;
}
